# Config and Htaccess Files
www/.htaccess
www/config.php
www/admin/config.php
www/catalog/view/theme/arcu-pro/stylesheet/less_engine/base_url.less
MyDoc/*
Shortcut/*

# System Cache Files
www/system/cache/*
!/www/system/cache/index.html

# Image Cache Files
www/image/cache/*
!/www/image/cache/index.html

# Log Files
www/system/logs/*
!/www/system/logs/index.html

www/vqmod/vqcache/*
*.log
*.cache

*.php

*.phtml

www/catalog/view/theme/default/template/module/kulercp.phtml

www/catalog/view/theme/default/template/module/kuler_social_icons.phtml
