// arcu-pro/stylesheet/less_engine/my_style.css
// Version 1.5.6.4

// My Script
// --------------------------------------------------

  // $('body').addClass('my_district');

// --------------------------------------------------
// Common

//	@base = 'http://suzuran.com.hk/';	// TEMP
	@base = 'http://greenmap.hk/';		// TEMP

	@yellow = #FBD606;
	@black 	= #666;
	@gray	= #ddd;
	@title	= #333;
	@btn_bg_hover = #444444;
	@btn_blue = #71bdf7;
	@btn_blue_hover = #4199dd;

// --------------------------------------------------
// Global

	.center{
		text-align: center;
	}
	.my_hide{
		display: none;
	}
	.border_top{
		border-top: 1px solid @gray;
	}
	input[type=checkbox]{
		margin-right: 10px!important;
	}
	.my_banner{	// Global
		img{
			min-width	: 665px!important;
			width 		: auto!important;
			height		: auto!important;
		}
	}

	.primary-define .product-info .cart #button-cart:before,	// Detail view
	.primary-define .button										// Account/Address
	{
		background-color: @yellow;
	}

	.primary-define .button:hover{
		background-color: @btn_bg_hover;
	}

// --------------------------------------------------
// Main content

	.home .box-heading,	// Gap under banner
	.home .rating,		// Items
	.home .details,		// Items
	.home .description	// Items
		{display: none!important;}

	body.home {
		.my_banner{
			padding		: 0px;
			max-width	: 1115px;
			margin-left	: 40px;
		}

		.box-content{
			min-width: 800px;
		}
		.box-product{	// Main container

			a{
				color: transparent;
			}
			.price{
				text-align: right;
			}
			.name{
				color: @title;
				font-size: 15px;
				font-weight: bold;
				letter-spacing: 0.5px
			}
			.name:hover{
				text-decoration: none;
			}
		}
	}// !.home

// --------------------------------------------------
// Import
	@import "base_url.less";
	@import "sidebar.less";
	@import "detail_view.less";

// --------------------------------------------------
// Backend
	.backend{

		.div2 > img,	// logo
		#footer
			{display: none;}

		#menu{
			display: block!important;
		}
	}

// --------------------------------------------------
// Detail view
	body.detail_view{
		.review,
		.cart > div:last-child,	// [add2wish][add2compare][shareThis]
		#tabs > a:nth-child(2)	// [Reviews]
			{display: none!important;}

		// ----- ----- ----- ----- -----
		.my_banner img{
			display: block;
			margin: 0px auto 0px auto;
		}

		// Product
		h1{
			font-weight: bold;
			border-bottom: 3px solid @gray!important;
			padding-bottom: 15px!important;
		}
		.description{}

		.cart > div:first-child{	// Add to cart btn container
			border-bottom: 0px!important;
		}
	}// !.detail_view

// --------------------------------------------------
// Sign Up

.sign_up{
	@this_width = 550px;
	#content{
		p{
			max-width: @this_width;
		}
	}
	table{
		tr{
			td{
				vertical-align: top;
			}
			> td:first-child{
				max-width: 100px;
			}
			input[type=text],
			input[type=password],
			select{
				max-width: 300px;
			}
			select{
				min-height: 42px;
			}
			input[type=text],
			input[type=password]{
				height: 20px;
			}// !td
			div.edm_wrapper{
				max-width: @this_width;
			}
			input.mtz-monthpicker-widgetcontainer{
				width: 200px!important;
			}
			span.act_clear{
				height: 42px;
				width: 90px;
				margin-left: 5px;
				background-color: @btn_blue;
				color: white;
				display: inline-block;
				vertical-align: middle;
				border-radius: 5px;
				cursor: pointer;
				-webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
				-moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.5);
				box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.5);
				> span{
					display: block;
					text-align: center;
					top: 10px;
					position: relative;
				}
			}
			span.act_clear:hover{
				background-color: @btn_blue_hover;
			}
			span.act_clear:active{
				position: relative;
				top: 2px;
			}

		}// !tr
	}


}

// --------------------------------------------------
// Cart
body.cart{
	h2,
	#content > div.box > div.content
		{display: none;}
}

// --------------------------------------------------
// Checkout
	#shipping-method table tr:nth-child(n+3){
		display: none!important;	// Show free or charge shipping $ only
	}