// --------------------------------------------------
// Common

	@yellow : #FBD606;
	@black 	: #666;
	@white 	: #FFF;
	@gray	: #ddd;
	@lightgray : lightgray;
	@title	: #333;
	@btn_bg_hover : #444444;
	@btn_blue : #71bdf7;
	@btn_blue_hover : #4199dd;
// --------------------------------------------------
// Global class

.center-block{
	margin: 0px auto 0px auto;
	display: block;
}
// --------------------------------------------------
// Sidebar

	#welcome,			// [Login / Create An Account]
	#search,			// Search box
	#topbar > .links,	// [Wish List, Checkout, My a/c, Cart]
	#menu,				// Menu
	#topbar,			// Language option
	#bottom > span.toggle,	// Tag
	#footer > span.toggle	// Tag
		{display: none!important;}

	#header{
		.mCustomScrollBox{
			background: white;
		}
		.cart{
			margin-right: 10px;
		}
	}
	#cart{
		background: #FB065A;
	}
    span#cart-total{
        font-size: 24px;
    }
	.primary-define #powered{
		color: @black;
		background: transparent;
		a{
			color: @black!important;
			text-decoration: none;
			padding-bottom: 3px;
			border-bottom: 1px solid @black;
		}
		a:hover{
			border-bottom: none;
		}
	}


		.top_img_wrapper{
			line-height: 0px;
			img{
				max-width: 95%;
				height: auto!important;// over ride backend setting
				.center-block;
			}
		}

		.full-btn:hover{
			background: #4199dd;
		}
		.login-con{
			button{
				cursor: pointer;
			}
			.user-row span{	// After login
				float: left;
			}
		    width: 260px;
            margin: 10px auto;
		    box-sizing:border-box;
		    padding: 10px;
		    border-radius: 10px;
		    background: #4ea3e5; /* Old browsers */
		    background: -moz-linear-gradient(top, #4ea3e5 0%, #1a85bf 100%); /* FF3.6+ */
		    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ea3e5), color-stop(100%,#1a85bf)); /* Chrome,Safari4+ */
		    background: -webkit-linear-gradient(top, #4ea3e5 0%,#1a85bf 100%); /* Chrome10+,Safari5.1+ */
		    background: -o-linear-gradient(top, #4ea3e5 0%,#1a85bf 100%); /* Opera 11.10+ */
		    background: -ms-linear-gradient(top, #4ea3e5 0%,#1a85bf 100%); /* IE10+ */
		    background: linear-gradient(to bottom, #4ea3e5 0%,#1a85bf 100%); /* W3C */
		    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ea3e5', endColorstr='#1a85bf',GradientType=0 ); /* IE6-9 */
		    position: relative;
		}
		.member-title{
		    background: url("/image/data/login/member-title.png");
		    background-repeat: no-repeat;
		    background-size: contain;
		    height: 35px;
		    width: 100%;
		    margin-bottom: 5px;
		}
		.log-in-title{
		    background: url("/image/data/login/log-in-title.png");
		    background-repeat: no-repeat;
		    background-size: contain;
		    height: 35px;
		    width: 100%;
		    margin: 10px auto;
		}
		.username{
		    width: 100%;
		    height: 25px;
		    border: 1px #a8a8a8 solid;
		    padding: 5px;
		    font-size: 12px;
		    border-radius: 4px;
		    box-sizing: border-box;
		    background: #eaeaea;
		    margin: 5px 0;
		}
		.password{
		    width: 100%;
		    height: 25px;
		    border: 1px #a8a8a8 solid;
		    padding: 5px;
		    font-size: 12px;
		    border-radius: 4px;
		    box-sizing: border-box;
		    background: #eaeaea;
		    margin: 5px 0;
		}
		.half-btn-left{
		    width: 115px;
		    height: 25px;
		    border-radius: 4px;
		    border: 1px white solid;
		    color: white;
		    box-sizing: border-box;
		    float: left;
		    background: @btn_blue;
		    margin: 5px 5px 5px 0px;
		}
		.half-btn-left:hover{
		    background: @btn_blue_hover;
		}
		.half-btn-right{
		    width: 115px;
		    height: 25px;
		    border-radius: 4px;
		    border: 1px white solid;
		    color: white;
		    box-sizing: border-box;
		    background: @btn_blue;
		    margin: 5px 0 5px 5px;
		}

		.half-btn-right:hover{
		    background: @btn_blue_hover;
		}
		.full-btn{
		    width: 100%;
		    height: 25px;
		    border-radius: 4px;
		    border: 1px white solid;
		    color: white;
		    box-sizing: border-box;
		    background: @btn_blue;
		    margin: 5px 0;
		}
		.user-mail-title, .user-name-title, .user-point-title{
		    font-size: 15px;
		    color: white;
		    margin: 0 5px;
		}
		.user-mail, .user-name, .user-point{
		    font-size: 15px;
		    color: white;
		    margin: 0 5px;
		}
		.user-row{
		    float: left;
		    width: 100%;
		    margin: 5px 0;
		}
		.password{
			min-width: 240px!important;
		}


	.sidebar-banners{
		div{
			min-height: 70px;
			background-repeat: no-repeat;
			background-position: center;
			margin: 10px 0px 10px 0px;
 // border: 1px solid gray;	// DEBUG
		}

		// Banner 1
		#sidebar-member_offer{
			height: 70px;
			background-image: url("/image/data/sidebar/promotion-sel.png");
			height: 0px;
			display: none;		// TEMP
		}
		#sidebar-member_offer:hover{
			background-image: url("/image/data/sidebar/my_img/menu/promotion.png");
		}

		// Banner 2
		#sidebar-suzuran{
			height: 80px;
			background-image: url("/image/data/sidebar/suzuran-sel.png");
		}
		#sidebar-suzuran:hover{
			background-image: url("/image/data/sidebar/suzuran.png");
		}

		// Banner 3
		#sidebar-goon{
			height: 80px;
			background-image: url("/image/data/sidebar/goon-sel.png");
			background-position: 8px 0px;
		}
		#sidebar-goon:hover{
			background-image: url("/image/data/sidebar/goon.png");
			background-position: 8px 0px;
		}
	}

	// ----- ----- ----- ----- -----
	.fb_iframe_widget{
		display: block!important;
		text-align: center;
		margin: 10px 0px 20px 0px;
		iframe{height: 20px!important;} // Avoid user see share box
	}

	// ----- ----- ----- ----- -----
	// Tag btn

//	#footer .mCustomScrollBox,	// Second div
	#footer > span.toggle
		{background-color: @yellow!important;}
	#bottom .mCustomScrollBox{
		background-color: transparent;
	}

// hide items icon
    .primary-define #header #cart .heading > a span:before{
        display: none;
    }

// change cart widget item qty color
    .primary-define .mini-cart-info .cart-item-details{
        color: #fff !important;
        opacity: 0.6;
    }